html{
	font-family: 'ebrima', 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
}
#table{
	position: relative;
	left: 200px;

}
/* ***main divs/boxes*** */
#maindiv{
	height: 550px;
	width: 1100px;
	padding: 20px;
}
#logoDiv{
	float: left;
}
#searchbox{
	padding: 15px;
	height: 200px;
	width: 300px;
	background-color: #06AFEF;
	border-radius: 15px;
	background-color: rgba(6, 175, 239, 1); 
 	box-shadow: inset 0 50px rgba(255,255,255,0), 
             inset 0 -15px 30px rgba(0,0,0,0.4),
             0 5px 10px rgba(0,0,0,0.5);
}
#loginbox{
	background-color: #EF2E32;
	padding: 15px;
	height: 200px;
	width: 300px;
	border-radius: 15px;
	background-color: rgba(239,46,50, 1); 
 	box-shadow: inset 0 50px rgba(255,255,255,0), 
    	        inset 0 -15px 30px rgba(0,0,0,0.4),
             			0 5px 10px rgba(0,0,0,0.5);
}
#globalDiv{
	height: 200px;
	width: 300px;
	background-color: #EF2E32;
	padding: 15px;
	border-radius: 15px;
	background-color: rgba(239,46,50,1); 
 	box-shadow: inset 0 50px rgba(255,255,255,0), 
             inset 0 -15px 30px rgba(0,0,0,0.4),
             0 5px 10px rgba(0,0,0,0.5);
}
#wrapper{
	width: 1024px;
	height: 700px;
	/*border: 2px solid black;*/
	margin-right: auto;
	margin-left: auto;

}
#localDiv{
	height: 200px;
	width: 300px;
	padding: 15px;
	border-radius: 15px;
	background-color: rgba(6, 175, 239, 1); 
 	box-shadow: inset 0 50px rgba(255,255,255,0), 
             	inset 0 -15px 30px rgba(0,0,0,0.4),
            			0 5px 10px rgba(0,0,0,0.5);
}
#linksDiv{
	font-size: 11px;
	/*float: right;*/
	position: relative;
	/*bottom: 12px;*/
	left: 130px;
	/*right: 50px;*/
}
/* ***text areas*** */
#bluesearch{
	position: relative;
	left: 10px;
	border-radius: 5px;
	color: gray;
	width: 170px;
	height: 20px;
}
#username{
	border-radius: 5px;
	color: gray;
	width: 170px;
	height: 20px;
}
#password{
	border-radius: 5px;
	color: gray;
	width: 170px;
	height: 20px;
	position: relative;
	left: 7px;
}
/* ***buttons*** */
#bluesearchsubmit{
	display: inline; 
	margin: 0 5px; 
	margin-left:20px; 
	width: 10em; 
	padding: 10px; 
	border: 2px solid #EF2E32; 
	position: relative;
	top: 7px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	color: #EF2E32;
	background: white; 
	font-weight: bold; 
	-webkit-appearance: none; 

}
#teachbutton{
	display: inline; 
	margin: 0 5px; 
	margin-left:20px; 
	width: 10em; 
	padding: 10px; 
	position: relative;
	top: 7px;
	border: 2px solid #EF2E32; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	color: #EF2E32;
	background: white; 
	font-weight: bold; 
	-webkit-appearance: none; 
}
#signinbutton{
	display: inline; 
	margin: 0 5px; 
	margin-left:20px; 
	width: 10em; 
	padding: 10px; 
	position: relative;
	top: 10px;
	left: 70px;
	border: 2px solid #06AFEF; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	color: #06AFEF;
	background: white; 
	font-weight: bold; 
	-webkit-appearance: none; 
}
#registerbutton{
	position: relative;
	left: 50px;
	background-color: white;
	height: 26px;
	width: 90px;
	border-radius: 5px;
}
/* ***text*** */
.label{
	color: white;
	font-size: 30px;
}

.text{
	font-family: 'ebrima', 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	color: white;
}
.largeText{
	float: right;
	color: white;
	font-size: 30px;
	z-index: 1000;
}
#topText{
	color: #06AFEF;
	font-size: 25px;
	/*position: relative;
	left: 50px;
	top: 40px;*/
}
.blankDiv{
	width: 30px;
	height: 175px;
	background-color: none;
}

/*css for second homepage idea*/
#localwithPic{
	height: 200px;
	width: 230px;
	background-image: url("images/monterey-oceanfront.jpg");
	padding: 15px;
	border-radius: 20px;
}
#globalwithPic{
	height: 200px;
	width: 230px;
	background-image: url("images/earth-at-night.jpg");
	padding: 15px;
	border-radius: 20px;
}
a.fill-div {
    display: block;
    height: 80%;
    width: 100%;
    text-decoration: none;
}
#quoteDiv{
	padding: 15px;
	border-radius: 15px;
	background-color: #0093C6;
	height: 200px;
	width: 540px;
}
#quote{
	color: white;
	font-size: 26px;
}
.links{
	font-size: 15px;
	position: relative;
	left: 10px;
}
#links2{
	position: relative;
	left: 35px;
}


a:link {color: #666464}
a:visited{color: gray}
