html{
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
}
#table{
	position: relative;
	left: 340px;

}
#maindiv{
	border: 5px solid #0093C6;
	height: 550px;
	width: 1100px;
	padding: 20px;
}
/* ***main divs/boxes*** */
#searchbox{
	padding: 15px;
	height: 200px;
	width: 300px;
	background-color: #0093C6;
	border-radius: 15px;
	background-color: rgba(0,147,194,1); 
 	box-shadow: inset 0 50px rgba(255,255,255,0), 
             inset 0 -15px 30px rgba(0,0,0,0.4),
             0 5px 10px rgba(0,0,0,0.5);
}
#loginbox{
	background-color: #FE591C;
	padding: 15px;
	height: 200px;
	width: 300px;
	border-radius: 15px;
	background-color: rgba(254,89,28, 1); 
 	box-shadow: inset 0 50px rgba(255,255,255,0), 
    	        inset 0 -15px 30px rgba(0,0,0,0.4),
             			0 5px 10px rgba(0,0,0,0.5);
}
#globalDiv{
	height: 200px;
	width: 300px;
	background-color: #FE591C;
	padding: 15px;
	border-radius: 15px;
	background-color: rgba(254,89,28,1); 
 	box-shadow: inset 0 50px rgba(255,255,255,0), 
             inset 0 -15px 30px rgba(0,0,0,0.4),
             0 5px 10px rgba(0,0,0,0.5);
}
#localDiv{
	height: 200px;
	width: 300px;
	padding: 15px;
	border-radius: 15px;
	background-color: rgba(0,147,194,1); 
 	box-shadow: inset 0 50px rgba(255,255,255,0), 
             	inset 0 -15px 30px rgba(0,0,0,0.4),
            			0 5px 10px rgba(0,0,0,0.5);
}
#linksDiv{
	background-color: #FE591C;
	padding: 1px;
	padding-right: 15px;
	position: relative;
	bottom: 20px;
	border-radius: 15px;
 	background-color: rgba(0,0,0,0.1); 
 	box-shadow: inset 0 50px rgba(255,255,255,0.2), 
             	inset 0 -15px 30px rgba(0,0,0,0.4),
             			0 5px 10px rgba(0,0,0,0.5)
}
/* ***text areas*** */
#bluesearch{
	position: relative;
	left: 10px;
	border-radius: 5px;
	color: gray;
	width: 170px;
	height: 20px;
}
<<<<<<< HEAD
#bluesearchsubmit{
	position: relative;
	left: 15px;
	top: 2px;
	border-radius: 5px;
	background-color: white;
	height: 25px;
	width: 100px;
	font-size: 10px;

}
#teachbutton{
	position:relative;
	left: 50px;
	color: #FE591C;
	background-color: white;
	border-radius: 5px;
	height: 25px;
	width: 100px;
	font-size: 12px;
}
.label{
	color: white;
	font-size: 30px;

}
#loginbox{
	background-color: #FE591C;
	padding: 15px;
	height: 200px;
	width: 300px;
	border-radius: 20px;
}
.text{
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	color: white;
}
=======
>>>>>>> Registration Works
#username{
	border-radius: 5px;
	color: gray;
	width: 170px;
	height: 20px;
}
#password{
	border-radius: 5px;
	color: gray;
	width: 170px;
	height: 20px;
	position: relative;
	left: 7px;
}
/* ***buttons*** */
#bluesearchsubmit{
	display: inline; 
	margin: 0 5px; 
	margin-left:20px; 
	width: 10em; 
	padding: 10px; 
	border: 2px solid #FE591C; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	color: #FE591C;
	background: white; 
	font-weight: bold; 
	-webkit-appearance: none; 

}
#teachbutton{
	display: inline; 
	margin: 0 5px; 
	margin-left:20px; 
	width: 10em; 
	padding: 10px; 
	border: 2px solid #FE591C; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	color: #FE591C;
	background: white; 
	font-weight: bold; 
	-webkit-appearance: none; 
}
#signinbutton{
	display: inline; 
	margin: 0 5px; 
	margin-left:20px; 
	width: 10em; 
	padding: 10px; 
	border: 2px solid #0093C6; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8); 
	color: #0093C6;
	background: white; 
	font-weight: bold; 
	-webkit-appearance: none; 
}
#registerbutton{
	position: relative;
	left: 50px;
	background-color: white;
	height: 26px;
	width: 90px;
	border-radius: 5px;
}
<<<<<<< HEAD
#localDiv{
	height: 200px;
	width: 300px;
	background-color: #0093C6;
	padding: 15px;
	border-radius: 20px;
}
#globalDiv{
	height: 200px;
	width: 300px;
	background-color: #FE591C;
	padding: 15px;
	border-radius: 20px;
=======
/* ***text*** */
.label{
	color: white;
	font-size: 30px;
>>>>>>> Registration Works
}

.text{
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	color: white;
}
.largeText{
	float: right;
	color: white;
	font-size: 30px;
	z-index: 1000;

}
<<<<<<< HEAD
=======
#topText{
	color: #0093C6;
	font-size: 25px;
	position: relative;
	left: 50px;
	top: 40px;
}
.blankDiv{
	width: 30px;
	height: 175px;
	background-color: none;
}

/*css for second homepage idea*/
>>>>>>> Registration Works
#localwithPic{
	height: 200px;
	width: 230px;
	background-image: url("images/monterey-oceanfront.jpg");
	padding: 15px;
	border-radius: 20px;
}
#globalwithPic{
	height: 200px;
	width: 230px;
	background-image: url("images/earth-at-night.jpg");
	padding: 15px;
	border-radius: 20px;
}
a.fill-div {
    display: block;
    height: 80%;
    width: 100%;
    text-decoration: none;
}
#quoteDiv{
	padding: 15px;
	border-radius: 15px;
	background-color: #0093C6;
	height: 200px;
	width: 540px;
}
#quote{
	color: white;
	font-size: 26px;
}
.links{
	font-size: 15px;
	position: relative;
	left: 10px;
}
#links2{
<<<<<<< HEAD
	position: relative;
	left: 35px;
}
#linksDiv{
	background-color: #FE591C;
	padding-right: 15px;
	position: relative;
	bottom: 20px;
	border-radius: 5px;
}
#topText{
	color: #0093C6;
	font-size: 25px;
	position: relative;
	left: 50px;
	top: 40px;
=======
	position: relative;
	left: 35px;
>>>>>>> Registration Works
}


a:link {color: black}
a:visited{color: gray}
